@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

// colors
$dark-blue: #29283f;
$darkest-blue: #1c1b28;
$dark-grey: #23272a;
$cool-green:#00cc83;
$cool-red: #d42f5f;

// padding
$padding-very-small: 5px;
$padding-small: 10px;
$padding-medium: 30px;

// margin
$margin-small: 10px;
$margin-medium: 20px;

// font
$font-main: 'Open Sans Condensed', sans-serif;
$font-copy: sans-serif;