@import '../../styles/variables';

.exchange {
	background-color: $dark-blue;
	padding: $padding-medium;
	padding-top: $padding-small;
	transition: background-color 0.08s;
	cursor: pointer;
	font-size: 20px;

	.title {
		display: flex;
		justify-content: space-between;
		p {
			font-weight: 700;
			font-size: 25px;
			margin: 0;
		}
		.recommend {
			&.buy-now {
				background-color: $cool-green;
			}
			&.sell-now {
				background-color: $cool-red;
			}

			padding: $padding-very-small;
			border-radius: 5%;
			p {
				// font-size: 17px;
				color: $darkest-blue;
			}
		}
	}
	.prices {
		p {
			font-family: $font-copy;

		}
	}

	&:hover {
		background-color: $darkest-blue;
	}

	
}